@charset "utf-8";
.starImage {
}

.rankLevelSection {
    height:63px;
}

.usernameText {
    text-align:center;
    padding-left:none;
}

.profileImageSection {
    height:450px;
}

.profileImageSection div {
    height:450px;
    width:450px;
}

.rankLevelSection h2 {
    padding-left:14px;
    font-family:Helvetica Neue;
    font-weight:300;
    width:60px;
}

div img {
    padding-top:11px;
    padding-left:0px;
}

.profileImageSection img {
    align-self:center;
}

body {
    color:#555;
}

@media(max-width:767px) {
    .starImage {
        display:none;
    }
}

