@charset "utf-8";
.navContainerDiv {
    height:inherit;
}

.siteLogo {
    font-family:Savoye LET;
    font-size:6em;
    color:#ecf0f1;
    height:inherit;
    width:90px;
    padding-top:0px;
}

.navigationBarList {
    width:560px;
    height:90px;
    color:antiquewhite;
    list-style-type:none;
    margin:16px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

.navigationBarList li {
    display:inline;
    -webkit-margin-before:none;
       -moz-margin-before:none;
         -o-margin-before:none;
        -ms-margin-before:none;
            margin-before:none;
    padding-right:80px;
}

.mainSectionContainer {
    height:1069px;
    margin-top:131px;
}

.siteHeader {
    position:fixed;
    height:120px;
    top:0;
    width:100%;
    z-index:100;
    background-color:#34495e;
    display:block;
    box-shadow:1px 1px 1px rgba(0,0,0,0.8);
}

.contentContainer {
    height:1070px;
}

body {
    background-color:#ecf0f1;
}

.bodyContainer {
    height:1138px;
    overflow-x:hidden;
    overflow-y:hidden;
}

