@charset "utf-8";
.navContainerDiv {
    height:inherit;
}

.siteLogo {
    font-family:Savoye LET;
    font-size:-webkit-xxx-large;
    color:#ecf0f1;
    height:inherit;
    width:90px;
}

.navigationItem {
    width:90px;
    height:52px;
    color:antiquewhite;
}

.mainSectionContainer {
    margin:68.1px 4px 4px 4px;
    height:1069px;
}

.siteHeader {
    position:fixed;
    height:68px;
    top:0;
    width:100%;
    z-index:100;
    background-color:#34495e;
    display:block;
    box-shadow:1px 1px 1px rgba(0,0,0,0.8);
}

.contentContainer {
    height:1070px;
}

body {
    background-color:#ecf0f1;
}

.bodyContainer {
    height:1138px;
    overflow-x:hidden;
    overflow-y:hidden;
}

