.loginBox input {
    background-color:#ecf0f1;
    margin-bottom:20px;
    margin-top:10px;
}

.inputContainer {
    height:100px;
}

.registrationButton {
    border-radius:25px;
    background-color:#ecf0f1;
    margin-left:5%;
    width:132px;
    position:relative;
}

.loginButton {
    float:right;
    margin-right:5%;
}

button .btn .btn-success {
}

.loginBox {
    height:330px;
    background-color:#34495e;
    width:360px;
    box-shadow:1px 1px 1px rgba(0,0,0,0.8);
}

.avatarContainer {
    height:130px;
    width:125px;
}

.avatarImage {
    margin:4px auto 4px auto;
}

.loginBox label {
    color:#ecf0f1;
    text-align:center;
    font-size:x-large;
}

container {
}

@charset "utf-8";
body {
    color:#555;
}

.siteContainer {
    padding-top:none;
    overflow:hidden;
    background-color:#ecf0f1;
}

.homepageInvsNav {
    background-color:#ecf0f1;
}

.loginContainer {
    background-color:;
    height:450px;
    margin-top:150px;
}

.registrationSection {
    height:1000px;
    background-color:#ecf0f1;
}

.avatarContainer h2 {
    color:#ecf0f1;
    text-align:center;
}

.websiteBrand {
    background-color:;
    font-family:Savoye LET;
    font-size:-webkit-xxx-large;
}

